{% extends "base.html" %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block script %}
    <script>
        $( function() {

            $("#emailExample").hide();
            $("#yColumnsBar").multiselect();
            $("#yColumnsLine").multiselect();
            $('#pie_options').css('min-height',  $('#line_options').height());
            $('#bar_options').css('min-height',  $('#line_options').height());
            setGraphTypeOptions();

            $("#emailAdd").click(function(){
                let email = $("#subscriberEmailAdd").val();
                let clone = $("#emailExample").clone();
                clone.find(".email")[0].value = email;
                clone.addClass("d-flex");
                clone.show();
                $("#subscriberList").append(clone);
            });

            $(".emailDelete").click(function(){

            });

            $('#subscriberList').on('click','.emailDelete',function(){
                   $( this ).parent().remove();
            });

            $('#dataFileUpload').on("change", function() {
                $('#previewGraph').prop('disabled', false);

                const fr = new FileReader();

                fr.onload = (function(reader)
                {
                    return function()
                    {
                        populateXAxisSelect(reader.result);
                    }
                })(fr);
                fr.readAsText($(this)[0].files[0]);
            });

            $('#graphTypeSelect').change(setGraphTypeOptions);

            $('input[type=radio][name=sendSchedule]').change(function() {
                if (this.value == 'onDataUpdate') {
                    $("#cronSched").css('visibility', 'hidden');
                }
                else if (this.value == 'setSchedule') {
                    $("#cronSched").css('visibility', 'visible');
                }
            });
        });

        function populateXAxisSelect(data) {
            var allTextLines = data.split(/\r\n|\n/); // Assuming CSV file with row linebreaks
            var headers = allTextLines[0].split(',');

            $.each(headers, function( i, h ) {
                var o = new Option(h, i);
                $(o).html(h);
                $("#xAxisColumn").append($(o).clone());
                $("#yColumnsBar").append($(o).clone());
                $("#yColumnsLine").append($(o));
            });
                $("#yColumnsBar").multiselect('rebuild');
                $("#yColumnsLine").multiselect('rebuild');
        }

        function generateGraph(){
            var formData = new FormData($('#graphForm')[0]);
            $.ajax({
                url: "{{ url_for('generate_graph_preview') }}",
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,

                success: function (data) {
                    if(data){
                        $("#graphPreview").attr("src", data);
                    }
                }
            });
        }

        function setGraphTypeOptions() {
            hideGraphOptions(false);
            switch ($('#graphTypeSelect').val()) {
                case "pie":
                    $('#pie_options').show();
                    break;
                case "bar":
                    $('#bar_options').show();
                    break;
                case "line":
                    $('#line_options').show();
                    $('#line_options').css('visibility', 'visible');
                    break;
                default:
                    hideGraphOptions(true);
            }
        }

        function hideGraphOptions(maintainSpace) {
            {#We want to retain the page space taken up by line chart options because it is the largest one#}
            $('#pie_options').hide();
            $('#bar_options').hide();
            if (maintainSpace){
                $('#line_options').show();
                $('#line_options').css('visibility', 'hidden');
            }
            else {
                $('#line_options').hide();
                $('#line_options').css('visibility', 'visible');
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row justify-content-center page-title odd">
        <h2>Register a New Graph</h2>
    </div>
    <form id="graphForm" action="{{ url_for("register_graph") }}" enctype="multipart/form-data" method='post'>
        <h3>Graph Configuration</h3>
        <div class="row even">
            <div class="col-sm">
                <div class="form-group">
                    <label for="dataFileUpload">Data Example</label>
                    <input type="file" class="form-control-file" id="dataFileUpload" name="dataFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                    <label for="dataFileUpload">Graph Type</label>
                    <select required class="custom-select" id="graphTypeSelect" name="graphType">
                        <option selected>Choose...</option>
                        <option value="pie">Pie Graph</option>
                        <option value="bar">Bar Chart</option>
                        <option value="line">Line Graph</option>
                    </select>

                    {#PIE CHART OPTIONS#}
                    <div id="pie_options">
                        <label for="graphTitle">Title</label>
                        <input id="graphTitle" name="title" type="text" class="form-control" >

                        <label for="customLabels">Custom Labels</label>
                        <small id="customLabelHelp" class="form-text text-muted">If you'd like to use custom labels for the pie graph, enter them as a comma-separated list here</small>
                        <input id="customLabels" name="customLabels" type="text" class="form-control" placeholder="Column 1, Column 2, ...">
                    </div>

                    {#BAR CHART OPTIONS#}
                    <div id="bar_options">
                        <label for="graphTitle">Title</label>
                        <input id="graphTitle" name="title" type="text" class="form-control" >

                        <label for="axisLabels">Axis Labels</label>
                        <div id="axisLabels" class="form-row">
                            <div class="col">
                                <label for="xLabel">X-Axis Label</label>
                                <small id="customLabelHelp" class="form-text text-muted">If you'd like to use custom bar labels for the graph, enter them as a comma-separated list here</small>
                                <input id="xLabel" name="xLabel" type="text" class="form-control" >
                            </div>
                            <div class="col">
                                <label for="yLabel">Y-Axis Label</label>
                                <input id="yLabel" name="yLabel" type="text" class="form-control" >
                            </div>
                        </div>

                        <div>
                            <label for="yColumnsBar">Columns To Plot</label>
                            <small id="yColumnsBarHelp" class="form-text text-muted">Based off the data uploaded, please select the columns you'd like to plot</small>
                            <select id="yColumnsBar" name="yColumns" multiple="multiple">
                            </select>
                        </div>
                    </div>

                    {#LINE GRAPH OPTIONS#}
                    <div id="line_options">

                        <label for="graphTitle">Title</label>
                        <input id="graphTitle" name="title" type="text" class="form-control" >

                        <label for="axisLabels">Axis Labels</label>
                        <div id="axisLabels" class="form-row">
                            <div class="col">
                                <label for="xLabel">X-Axis Label</label>
                                <input id="xLabel" name="xLabel" type="text" class="form-control" >
                            </div>
                            <div class="col">
                                <label for="yLabel">Y-Axis Label</label>
                                <input id="yLabel" name="yLabel" type="text" class="form-control" >
                            </div>
                        </div>

                        <label for="customLabels">Custom Labels</label>
                        <small id="customLabelHelp" class="form-text text-muted">If you'd like to use custom line labels for the graph, enter them as a comma-separated list here</small>
                        <input id="customLabels" name="customLabels" type="text" class="form-control" placeholder="Column 1, Column 2, ...">

                        <div>
                            <label for="yColumnsLine">Columns To Plot</label>
                            <small id="yColumnsLineHelp" class="form-text text-muted">Based off the data uploaded, please select the columns you'd like to plot</small>
                            <select id="yColumnsLine" name="yColumns" multiple="multiple">
                            </select>
                        </div>

                        <label for="xAxisColumn">X-Axis Data</label>
                        <small id="xAxisColumnHelp" class="form-text text-muted">Based off the data uploaded, please select the column which represents the x-axis.</small>
                        <select id="xAxisColumn" name="xAxisCol" type="text" class="custom-select">
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-sm">
                <img id="graphPreview" src="{{ url_for('static', filename='graph_placeholder.png') }}"/>
                <small id="emailHelp" class="form-text text-muted">Click below to generate a preview for your graph</small>
                <button id="previewGraph" type="button" class="btn btn-secondary" onclick="generateGraph()" disabled>Preview</button>
            </div>
        </div>

        <h3>Schedule Configuration</h3>
        <div class="row even">
            <div class="col-sm">
              <div class="form-group">
                  <h5>Subscriber Emails</h5>
                  <input type="email" class="form-control" id="subscriberEmailAdd" aria-describedby="emailHelp" placeholder="example@domain.com">
                  <small id="emailHelp" class="form-text text-muted">Add email subscribers for this graph</small>
                  <button id="emailAdd" type="button" class="btn btn-secondary">Add</button>
              </div>
            </div>
            <div class="col-sm">
                <h5>Subscribers</h5>
                <ul id="subscriberList" class="list-group list-group-horizontal-md">
                    <li id="emailExample" class="badge badge-pill badge-light justify-content-between align-items-center">
                        <input type='text' name='subscribers' value='email' class="email form-control-plaintext" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" readonly>
                        <span class="emailDelete clickable"><i class="fas fa-minus-circle"></i></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <h5>Send Schedule</h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sendSchedule" id="setSchedule" value="setSchedule" checked class="custom-control-input">
                        <label class="custom-control-label" for="setSchedule">Set Schedule</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sendSchedule" id="onDataUpdate" value="onDataUpdate" class="custom-control-input">
                        <label class="custom-control-label" for="onDataUpdate">On Data Update</label>
                    </div>
                    <div id="cronSched" class="input-group mb-3">
                        <input type="text" id="cron" name="cron" class="form-control" placeholder="0/1 * 1/1 * ? *" aria-label="0/1 * 1/1 * ? *" aria-describedby="cronHelp">
                        <div class="input-group-append">
                            <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html" target="_blank"><button class="btn btn-outline-secondary" type="button">Help</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row odd">
            <div class="col-6">
                <div class="form-group">
                  <h5>Email Subject</h5>
                  <input type="text" class="form-control" id="emailSubject" name="emailSubject">
                  <small id="subjectHelp" class="form-text text-muted">The subject for your graph email notification</small>
                  <h5>Email Body</h5>
                  <input type="textarea" class="form-control" id="emailBody" name="emailBody">
                  <small id="bodyHelp" class="form-text text-muted">The body of your email notification</small>
              </div>
            </div>
        </div>
        <div class="row odd justify-content-center" style="margin-bottom:30px">
            <button type="submit"  class="btn btn-primary">Register New Graph</button>
        </div>
    </form>
{% endblock %}
