.error{
    color: red;
}

.success{
    color: #16ff39;
}

h1{
    color: #154d8b;
}

.even{
    background-color: white;
}

.odd{
    background-color: white;
}

.page-title{
    padding-bottom: 20px;
}

.form-group{
    margin-bottom: 50px;
}

div.container{
    text-align: center;
    vertical-align: center;
    margin-bottom: 20px;
}

div.list-container{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

div.list-container ul{
    text-align: left;
    list-style: none;
}

.clickable{
    cursor: pointer;
}